*{
    margin: 0;
    padding: 0;
}

:root{
    --btn-bg-color: #0C4E9C;
    --border-prm-color: black;
    --sidebar-btn-width: 15vh;
}

.container-main{
    margin: 0;
    padding: 0;
}

/* Header */

.header-div{
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px 0px black;
}

.header-brand{
    padding: 0 5vh;
    font-size: 2rem;
}

.header-form{
    padding: 0 20vh;
}

.header-form > .header-form-search{
    min-width: 40vh;
}

.header-right{
    display: flex;
}

.header-name-div{
    display: flex;
    flex-direction: column;
}

.header-pfp{
    padding-top: 5%;
}

.header-notifs{
    padding-top: 5%;
    padding-right: 5%;
}

.header-name-div{
    padding: 0 2vh;
}

/*--------------- Body Content -------------*/

.body-content{
    display: flex;
}

/* Sidebar */

.main_sidebar{
    background-color: #F6F6F6;
    width: 25vh;
    height: 100%;
}

.sub-main-1{
    display: flex;
    flex-direction: column;
}

.sub-main-db-btn{
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 1vh;
}

.sub-main-db-btn > button {
    width: var(--sidebar-btn-width);
    border: 1px solid var(--border-prm-color);
    text-align: left;
}

.sub-main-db-btn > button:hover{
    background-color: var(--btn-bg-color);
    border: 1px solid var(--border-prm-color);
    color: white;
}

.sub-main-btn{
    padding: 0.6vh 5vh;
}

.sub-main-btn > button{
    width: var(--sidebar-btn-width);
    border: 1px solid var(--border-prm-color);
    text-align: left;
}

.sub-main-btn > button:hover{
    background-color: var(--btn-bg-color);
    border: 1px solid var(--border-prm-color);
    color: white;
}

.sub-main-2-bkup-btn{
    padding-bottom: 7vh;
    padding-left: 5vh;
}

.sub-main-2-bkup-btn > button{
    width: var(--sidebar-btn-width);
    border: 1px solid var(--border-prm-color);
    text-align: left;
}

.sub-main-2-bkup-btn > button:hover{
    background-color: var(--btn-bg-color);
    border: 1px solid var(--border-prm-color);
    color: white;
}

.sub-main-2-btn{
    padding-left: 5vh;
    padding-bottom: 5.5vh;
}

.sub-main-2-btn > button{
    width: var(--sidebar-btn-width);
    border: 1px solid var(--border-prm-color);
    text-align: left;
}

.sub-main-2-btn > button:hover{
    background-color: var(--btn-bg-color);
    border: 1px solid var(--border-prm-color);
    color: white;
}

hr{
    width: 20vh;
    margin-left: 3vh;
}

/*-------- Body Content Main - 1 --------*/

/* Cards */
.body-main-1{
    width: 100%;
}

.body-main-1-h3{
    padding: 4vh 2vh;
}

.card-group-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
}

/* .card-div{
    padding: 2vh 2vh;
} */

.card-div .card-div-cards{
    width: 15vh;
    height: 20vh;
    text-align: center;
}

.card-div-cards-body{
    padding: 4vh 1vh;
}

.card-div-cards-body > .card-div-cards-icon{
    font-size: 2rem;
}

.card-div-cards-body > .card-div-cards-title{
    padding: 1vh 0;
}

.card-div-cards-body > .card-div-cards-text{
    padding: 0;
    font-size: 2rem;
}

.footerText{
    display: flex;
    flex-direction: row;
}