@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

.main{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner{
        width: 30%;
        height: auto;
        padding: 20px 10px;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #E0E0E0;
        >p:nth-child(1){
            font-family: "inter";
            color: #000;
            font-size: 22px;
            font-weight: 600;
            text-transform: capitalize;
        }
        >label{
            font-family: "inter";
            color: #526581;
            font-size: 16px;
            text-transform: capitalize;
            margin-top: 10px;
        }
        >input{
            width: 100%;
            height: 40px;
            border: 1px solid #D6D6D6;
            font-family: "inter";
            font-size: 14px;
            color: #000;
            padding-left: 10px;
            border-radius: 10px;
        }
        >input:focus{
            outline: none;
        }
        .btn_div{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            margin-top: 50px;
            >button:nth-child(1){
                width: 140px;
                height: 35px;
                border: none;
                border-radius: 10px;
                font-family: "inter";
                font-size: 14px;
                background: none;
                margin-right: 10px;
                text-transform: capitalize;
                color: #526581 ;
            }
            >button:nth-child(2){
                width: 140px;
                height: 35px;
                border: none;
                border-radius: 10px;
                font-family: "inter";
                font-size: 14px;
                background: #0C4E9C;
                color: #fff;
                text-transform: capitalize;
            }
        }
    }
}