@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}


.hdr_main{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 8;
    top: 0;
    background: #fff;
    .logo__{
        width: 20%;
        height: 100%;
        border: none;
    }
    .search__{
        width: 50%;
        height: 100%;
        border: none;
        display: flex;
        align-items: center;
        >input{
            width: 90%;
            height: 40px;
            border-radius: 10px 0px 0px 10px;
            border: 1px solid #E5E8EC;
            font-family: "inter";
            font-size: 16px;
            padding-left: 10px;
            color: #7F8DA1;
        }
        >input:focus{
            outline: none;
        }
        >button{
            width: 40px;
            height: 40px;
            border-radius: 0px 10px 10px 0px;
            border: none;
            background: #0C4E9C;
            color: #fff;
            font-family: "inter";
        }
    }
    .last__{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        >img:nth-child(1){
            cursor: pointer;
        }
        >img:nth-child(2){
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 30px;
            margin-right: 15px;
        }
        >div:nth-child(3){
            >p:nth-child(1){
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0px;
                color: #333840;
                font-family: "inter";
            }
            >p:nth-child(2){
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0px;
                color: #7F8DA1;
                font-family: "inter";
            }
        }
    }
}